<div class="actions group-hover:flex">
  <a class="edit-btn material-symbols-outlined" href="{{ edit }}">edit</a>
  {% include 'components/pages/delete.html.twig' with {path: deleteLink, id: id} %}
</div>
