<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Case-Study Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body bgcolor="#f0f2f5" style="margin: 0; padding: 0; font-family: monospace">
<table bgcolor="#f0f2f5" id="spacer-top" align="center" border="0" cellpadding="0" cellspacing="0" height="50"
       width="100%">
  <tr>
    <td>
      <table>
        <tr>
          <td height="50"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table bgcolor="#f0f2f5" id="bgtable" align="center" border="0" cellpadding="0" cellspacing="0" height="100%"
       width="100%">
  <tr>
    <td align="center" valign="top">
      <!-- container 600px -->
      <table bgcolor="#6750a4" border="0" cellspacing="0" class="container" width="600">
        <tr>
          <td align="left">
            <table cellpadding="30" width="100%">
              <tr>
                <td style="color: #ffffff; font-weight: 700; font-size: 14px;" align="left" width="540">
                  <p>
                    <strong>Case-Study Manager</strong>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table bgcolor="#ffffff" border="0" cellspacing="0" class="container" width="600">
        <tr>
          <td align="left">
            <table cellpadding="30" width="100%">
              <tr>
                <td style="color: #49454f;" align="left" width="270">
                  {% block content %}
                  {% endblock %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>