<a
    href="{{ link }}"
    class="material-symbols-outlined relative inline-flex items-center justify-center w-12 h-12 gap-x-2 rounded-[6.25rem] text-[22px] tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400">
  arrow_back
</a>