<a class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 rounded-[6.25rem] tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400 duration-200"
   target="{{ blank ? '_blank' : '' }}"
   href="{{ link }}">
  {{ icon }}
</a>